body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51) ;
    margin: 40px 40px;
}

img {
    width: 38%; 
    height: auto; 
    display: block;
}

header {
    display: flex;
  }

aside {
    width: 100%;
    padding-right: 200px;
    padding-left: 0;
}

p {
    width: 60%; 
  }

header p {
    width: 97%;
}