@media (max-width: 600px) {
    
    header {
        background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)),
        url(https://wallpaperaccess.com/full/329583.jpg) no-repeat;
        background-size: cover;
        background-position: center; /* Adjust padding as needed */
        width: 100%; /* Ensures the header spans the full width */
        box-sizing: border-box;
    }
    .team-description-wrapper ul {
        flex-wrap: wrap;
    }
    .team-description ul li img {
        width: 200px;
        height: 200px;
        padding-bottom: 0.3rem;
    }
    .team-description ul li {
        padding-bottom: 4em;
    }
    .choose-us ul {
        flex-direction: column;
        gap: 2em;
    }
    .choose-us ul li p {
        padding: 1.5em 7em;
    }
    .blog-news ul {
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;
    }
    .blog-news ul li {
        max-width: 80%;
        
    }
   header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
   }
   header nav ul li {
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
   }
   .header-title h1 {
    font-size: 37px;
   }
   .header-title {
    padding-bottom: 1em;
   }
}