@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Inter';
}
img {
    display: block;
    width: 30%;
    height: auto;
}
header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 1em 4em;
}
nav ul {
    display: flex;
    gap: 2em;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
header p {
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 12px;
    padding: 0.4em 0.9em;
    text-align: center;
    border-radius: 4px;
    border-right: 2px solid black;

}
.background-header {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: bottom;
    padding-top: 9em;
    padding-left: 8em;
    padding-right: 4em;
    padding-bottom: 8em;
}

.background-header .title {
    font-size: 40px;
    padding-left: 3em;
}
.background-header .text {
    margin-top: 5em;
    padding-left: 7.2em;
    max-width: 650px;
    margin-bottom: 3em;
    color: white;
    font-size: 17px;
}
.background-header button {
    margin-left: 7.9em;
    font-size: 15px;
    color: white;
    background-color: black;
    padding: 0.7em 1.7em;

}
.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding:5em;
}
.numbers .number {
    color: rgb(244, 161, 6);
    font-size: 37px;
    text-align: center;
    margin-bottom: 1em;
}
.numbers .one {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0.4em;
}
.numbers .two {
    text-align: center;
    font-size: 12.5px;
    color: rgb(96, 85, 85);
}
.information {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #D9D9D9;
    padding: 2em 3em;
}
.column-one, .column-two, .column-three {
    display: flex;
    gap: 3em;
}
.info p:first-of-type {
    font-weight: bold;
    color: gray;
    margin-bottom: 3em;
    margin-top: 1em;
}
.info .title {
    font-size: 23px;
    margin-bottom: 2em;
}
.info .i {
    color: rgb(96, 85, 85);
    font-size: 14px;
    max-width: 790px;
    margin-bottom: 0.4em;
}
.info a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin-bottom: 2em;
}
.info p:last-of-type {
    margin-top: 2em;
}
footer {
    display: flex;
    gap: 12em;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    padding: 2em 4em;
}
.pricing-container {
    background-color: #ededed;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.pricing-plans-container {
    background-color: white;
    padding: 2em;
    padding-bottom: 2em;
    display: flex;
    gap: 4em;
    align-items: center;
    justify-content: center;
}

.white p {
    text-align: start;
}
.white .title{
    font-size: 22px;
    margin-bottom: 2em;
} 
.white p:last-of-type {
    max-width: 400px;
    font-size: 14px;
}
.orange {
    background-color: #FF7C4C;
    text-align: center;
    padding: 2.5em;
    padding-left: 8em;
    padding-right: 8em;
}
.black {
    color: white;
    background-color: black;
    text-align: center;
    padding: 2.5em;
    padding-left: 8em;
    padding-right: 8em;

}
.orange p, .black p {
    margin-bottom: 0.8em;
}
.orange .price, .black .price {
    font-size: 50px;
}
.orange button, .black button {
    margin-top: 2.5em;
    padding: 1em 2em;
 
}
.orange button {
    background-color: black;
    color: white;
}