@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 3em;
    background-color: white;
    font-family: Agbalumo;
}
.container {
    border: 2px solid black;
    width: 60%;
    
}
header, footer {
    background-color: rgb(204, 225, 224);
}
main {
    background-color: white;
    padding: 1em 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


header h1, header p {
    text-align: center;
    border-bottom: 2px solid black;

}
header {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
}

    
.card {
    border: 2px solid black;
    flex: 1 1 40%;
    
}
.text {
    flex: 1 1 55%;
}
.facts {
    color: white;
    background-color: black;
    padding: 0 2em;
    width: 50%;

}
.facts p {
    text-align: center;
    font-size: 18px;
}
footer {
    padding: 1em;
}

footer p {
    padding: 0.5em;
}
.text p {
    padding: 0.5em;
}
.card img {
    width: 100%;
    height: auto;
}
.card {
    padding: 1em 1em;
}
.card p {
    font-size: smaller;
    margin-top: 2em;
    text-indent: 20px;
   
}
main .text {
    margin-top: 3em;
    margin-bottom: 0;
    text-indent: 30px;
}

.container {
    margin: 0 auto;
}